.btn-outline-primary {
  color: #ffffff;
  border-color: #ffac41;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ffac41;
  border-color: #ffac41;
}

.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: #FFAC41;
  border-color: #ffac41;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ffac41;
  border-color: #FFAC41;
}

.btn-primary:hover {
  color: #fff;
  background-color: #FFAC50;
  border-color: #FFAC41;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #ffac41;
  border-color: #ffac41;
  box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ffac41;
  border-color: #ffac41;
}

li {
  margin-top: 12px;
  font-size: 23px;
  color: #000000;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ffac41;
  border-color: #ffac41;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d!important;
}

